[submodule "_includes/s-audience-insights"]
	path = _includes/s-audience-insights
	url = https://github.com/BrightcoveLearning/s-audience-insights
  branch = main
[submodule "assets/images/s-audience-insights-img"]
	path = assets/images/s-audience-insights-img
	url = https://github.com/BrightcoveLearning/s-audience-insights-img
  branch = main
[submodule "s-scripts"]
	path = s-scripts
	url = https://github.com/BrightcoveLearning/s-scripts
  branch = main
