---
title: Current Customers
description: In this topic, you will learn about Audience Insight data for your current customers.
parent: Guides 
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary> 

    {% include s-audience-insights/customers/current-customers-introduction.html %}

    {% include s-audience-insights/customers/current-customers-customer-count.html %}

    {% include s-audience-insights/customers/current-customers-customer-value.html %}

    {% include s-audience-insights/customers/current-customers-net-customer-change.html %}

    <section class="bcls-section">
      <h2 id="Customer_By_Category">Customers By Category</h2>
      <p>Display the top number of viewers by category. The top 10 are displayed in the graph, with a detailed list to the right of the graph. </p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Customer Value" src="/assets/images/s-audience-insights-img/guides/customers/customers-by-category.png" />
      </figure>

      <h4>Actions</h4>
      <p>You can select any of the following actions to change the data presented:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Category button" src="/assets/images/s-audience-insights-img/guides/customers/category-button.png" /> to select the category for the data displayed.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Select category" src="/assets/images/s-audience-insights-img/guides/customers/select-category.png" />
          </figure>
        </li>
        <li>Hover over <img class="bcls-image--no-border" alt="Current snapshot" src="/assets/images/s-audience-insights-img/guides/customers/current-snapshot.png" /> to see the following note:
          <ul>
            <li><strong>This insight is a current snapshot of your business.</strong></li>
          </ul>
        </li>
      </ul>

      <h4>Data</h4>
      <p>The following data is displayed in the graph:</p>  

      <ul>
        <li><strong>Customers(#)</strong> - The y-axis show the number of customers for each category; each bar in the graph also shows the revenue from those customers</li>
        <li><strong>Basic (Monthly)</strong> - The x-axis shows the types of data for the category chosen; in this case, it is by plan</li>
        <li><strong>Plan</strong> - The subscription plan with the rise or drop in number of customers
          <ul>
            <li><strong>LTV</strong> - Lifetime value (LTV) estimates the amount of revenue a customer represents to a business over the life of the relationship; this is helpful for determining the cost efficiency of acquiring new customers and supporting them over time</li>
            <li><strong>MAU</strong> - Monthly Active Users (MAU); active users are defined as being signed in</li>
          </ul>
        </li>
        <li><strong>Channel</strong> - The app store from where users viewed your channel</li>
        <li><strong>Device</strong> - The device from which users viewed your content</li>
      </ul>
    </section>

    <section class="bcls-section">
      <h2 id="Customer_Status_By_Category">Customer Status By Category</h2>
      <p>View the number of customers by status relative to referral sources. Status includes trials, new and existing subscribers and churn. </p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Customer Status" src="/assets/images/s-audience-insights-img/guides/customers/customer-status.png" />
      </figure>

      <h4>Actions</h4>
      <p>You can select any of the following actions to change the data presented:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Source button" src="/assets/images/s-audience-insights-img/guides/customers/source-button.png" /> to select the category for the data displayed.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Select category" src="/assets/images/s-audience-insights-img/guides/customers/source-selection.png" />
          </figure>
        </li>
      </ul>

      <h4>Data</h4>
      <p>The following data is displayed in the chart:</p>  

      <ul>
        <li><strong>Total Trials</strong> - Number of subscriptions with a trial during the selected timeframe</li>
        <li><strong>Lost Trials</strong> - Trials that have ended with no conversion within the selected timeframe</li>
        <li><strong>New</strong> - Number of trials that have converted to paid subscription within the selected timeframe</li>
        <li><strong>Existing</strong> - Number of paid subscribers for the selected timeframe</li>
        <li><strong>Lost</strong> - Number of subscribers who canceled or let their subscription expire during the selected timeframe</li>
      </ul>
    </section>

    <section class="bcls-section">
      <h2 id="Customer_Retention_By_Category">Customer Retention By Category</h2>
      <p>View customer retention rate and projected survival rate over time.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Customer Retention" src="/assets/images/s-audience-insights-img/guides/customers/customer-retention.png" />
      </figure>

      <h4>Actions</h4>
      <p>You can select any of the following actions to change the data presented:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Category button" src="/assets/images/s-audience-insights-img/guides/customers/category-button.png" /> to select the category for the data displayed.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Select category" src="/assets/images/s-audience-insights-img/guides/customers/retention-categories.png" />
          </figure>
        </li>
        <li>Hover over <img class="bcls-image--no-border" alt="Current snapshot" src="/assets/images/s-audience-insights-img/guides/customers/current-snapshot.png" /> to see the following note:
          <ul>
            <li><strong>This insight is a current snapshot of your business.</strong></li>
          </ul>
        </li>
      </ul>

      <h4>Data</h4>
      <p>Hover over any graph to display retention and survival rates in the chart to the right.</p>  
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Retention data" src="/assets/images/s-audience-insights-img/guides/customers/retention-data.png" />
      </figure>

      <ul>
        <li><strong>Retention</strong> - Retention Rate uses observed churn for customers who joined the service in the last 13 months; this ensures that the retention rate is based on your service as it exists recently and is long enough to capture annual renewals and churn</li>
        <li><strong>Survival</strong> - Survival Curve is derived from the Retention Rate and projects the retention for tenures up to 1000 days (143 weeks) for use in projecting subscription lifetime value; outsized differences in the Survival and Retention lines indicate irregularities or notable events in customer churn</li>
      </ul>
    </section>

    <section class="bcls-section">
      <h2 id="Customer_By_Subscription Length">Customers By Subscription Length</h2>
      <p>View the number of customers by subscription length, and the ratio of monthly active users by subscription length.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Customer By Subscription Length" src="/assets/images/s-audience-insights-img/guides/customers/subscription-length.png" />
      </figure>

      <h4>Actions</h4>
      <p>The following actions are available:</p>
      <ul>
        <li>Hover over <img class="bcls-image--no-border" alt="30 Day icon" src="/assets/images/s-audience-insights-img/guides/customers/30-day.png" /> to see the following note:
          <ul>
            <li><strong>This insight is a snapshot of your business based on a rolling 30-day average.</strong></li>
          </ul>
        </li>
      </ul>

      <h4>Data</h4>
      <p>Hover over the graph to display data.</p>  
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Subscription length data" src="/assets/images/s-audience-insights-img/guides/customers/subscription-length-data.png" />
      </figure>

      <ul>
        <li><strong>Customers</strong> - Number of customers by subscription length in weeks</li>
        <li><strong>MAU</strong> - Ratio of Monthly Active Users (MAU) by subscription length in weeks</li>
      </ul>
    </section>

</article>
