---
title: Distribution
description: In this topic, you will learn about Audience Insight data for the distribution of third-party subscriptions.
parent: Guides 
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/distribution/distribution-introduction.html %}

    {% include s-audience-insights/distribution/distribution-third-party-subscriptions.html %}

    {% include s-audience-insights/distribution/distribution-customer-value.html %}

    {% include s-audience-insights/distribution/distribution-store-breakdown.html %}

    {% include s-audience-insights/distribution/distribution-top-content-by-category.html %}

    <section class="bcls-section">
      <h2 id="Impressions_By_Store">Impressions By Store</h2>
      <p>View video impressions, installs, activations, and first payments for each app store.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Impressions By Store" src="/assets/images/s-audience-insights-img/guides/distribution/impressions-by-store.png" />
      </figure>

      <h4>Actions</h4>
      <p>Here are the available actions:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Overflow menu" src="/assets/images/s-audience-insights-img/guides/summary/overflow-menu.png" /> to download subscription data as a CSV file or a PNG image.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Download customer value data" src="/assets/images/s-audience-insights-img/guides/distribution/download-csv-png.png" />
          </figure>
        </li>
      </ul>

      <h4>Data</h4>
      <p>Hover over the graph to display data.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Hover to display data" src="/assets/images/s-audience-insights-img/guides/distribution/hover-impressions.png" />
      </figure>

      <ul>
        <li><strong>Impressions</strong> - Number of times a video was loaded into a player and ready for interaction</li>
        <li><strong>Installs</strong> - Number of times users have installed your app from a store</li>
        <li><strong>Activations</strong> - Number of times users have activate your app </li>     
        <li><strong>First Payments</strong> - Number of first-time subscription payments within the selected timeframe</li>   
      </ul>
    </section>

    <section class="bcls-section">
      <h2 id="Payments_By_App_Store">Payments By App Store</h2>
      <p>See payment data including gross, net, expected and projected amounts for each app store.</p>
      <aside class="bcls-aside bcls-aside--information">Payments by app store contains data from the past year and estimates for the next 3 months. Some figures are based on projections that may vary slightly from the final financial reporting. </aside>

      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Impressions By Store" src="/assets/images/s-audience-insights-img/guides/distribution/payments-by-store.png" />
      </figure> 

      <h4>Actions</h4>
      <p>Here are the available actions:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Overflow menu" src="/assets/images/s-audience-insights-img/guides/summary/overflow-menu.png" /> to download subscription data as a CSV file.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Download customer value data" src="/assets/images/s-audience-insights-img/guides/distribution/download-csv.png" />
          </figure>
        </li>
      </ul>

      <h4>Data</h4>
      <p>Hover over the chart to display data.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Hover to display data" src="/assets/images/s-audience-insights-img/guides/distribution/hover-payments.png" />
      </figure>

      <ul>
        <li><strong>Gross</strong> - Gross revenue earned from subscriptions</li>
        <li><strong>Net</strong> - Revenue earned from subscriptions minus the app store's promotion and management fees</li>
        <li><strong>Expected</strong> - Expected net revenue earned from subscriptions </li>     
        <li><strong>Projection (Gross)</strong> - Projected gross revenue</li>
        <li><strong>Projection (Net)</strong> - Projected net revenue</li>   
        <li><strong>Projection (expected)</strong> - Projected expected revenue</li>
      </ul>
    </section>

    <section class="bcls-section">
      <h2 id="Installs_and_Rating_By_Store">Installs and Rating By Store</h2>
      <p>See number of installs and user ratings by app store.</p>

      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Installs and Rating By Store" src="/assets/images/s-audience-insights-img/guides/distribution/installs-ratings.png" />
      </figure> 

      <h4>Actions</h4>
      <p>Here are the available actions:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="All button" src="/assets/images/s-audience-insights-img/guides/distribution/all-button.png" /> to filter by store:</p>
          <ul>
            <li>All</li>
            <li>Google Store</li>
            <li><p>Apple Store</p></li>
          </ul>
        </li>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Overflow menu" src="/assets/images/s-audience-insights-img/guides/summary/overflow-menu.png" /> to download subscription data as a CSV file or a PNG image.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Download customer value data" src="/assets/images/s-audience-insights-img/guides/distribution/download-csv-png.png" />
          </figure>
        </li>
      </ul>

      <h4>Data</h4>
      <p>Hover over the graph to display data.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Hover to display data" src="/assets/images/s-audience-insights-img/guides/distribution/hover-ratings.png" />
      </figure>

      <ul>
        <li><strong>Installs</strong> - Number of app installs for a store</li>
        <li><strong>Ratings</strong> - Percentage rating on a scale from 0 to 100</li>
      </ul>
    </section>

    <section class="bcls-section">
      <h2 id="Video_Views_and_Multi-Device_Usage_By_Store">Video Views and Multi-Device Usage By Store</h2>
      <p>See the number of video views and device usage by app store.</p>

      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Video Views and Multi-Device Usage By Store" src="/assets/images/s-audience-insights-img/guides/distribution/views-device-usage.png" />
      </figure> 

      <h4>Actions</h4>
      <p>Here are the available actions:</p>
      <ul>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="All button" src="/assets/images/s-audience-insights-img/guides/distribution/all-button.png" /> to filter by store:</p>
          <ul>
            <li>All</li>
            <li>Google Store</li>
            <li>Apple Store</li>
            <li><p>Amazon Prime Channel</p></li>
          </ul>
        </li>
        <li>
          <p>Click <img class="bcls-image--no-border" alt="Overflow menu" src="/assets/images/s-audience-insights-img/guides/summary/overflow-menu.png" /> to download subscription data as a CSV file or a PNG image.</p>
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Download customer value data" src="/assets/images/s-audience-insights-img/guides/distribution/download-csv-png.png" />
          </figure>
        </li>
      </ul>

      <h4>Data</h4>
      <p>Hover over the graph to display data.</p>
      <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Hover to display data" src="/assets/images/s-audience-insights-img/guides/distribution/hover-views.png" />
      </figure>

      <ul>
        <li><strong>Video Views</strong> -  Number of times a video started playing, recorded when the stream is started (does not include rewind or replay) - this is not a measure of individual viewers</li>
        <li><strong>Weekly Multi-Device Users</strong> - Percentage of viewers using multiple devices each week</li>
      </ul>
    </section>

    

</article>
