---
title: Content
description: 'These topics provide guides to the Content reports.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section" id="page_wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.parent %}
      <ul>
        {% for entry in item.docs %}
          {% if entry.name == page.title %}
            {% for subentry in entry.docs %}
                {% if subentry.docs %}
                    <h3><a href="{{ subentry.url }}">{{ subentry.name }}</a></h3>
                    <ul class="landing-page-item">
                      {% for subdoc in subentry.docs %}
                      <li><a href="{{ subdoc.url }}">{{ subdoc.name }}</a></li>
                      {% endfor %}
                    </ul>
                {% else %}
                  <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
                {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
  </section>
</article>